
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Linkdin Scraping With Google Spreddsheet</title>
</head>
<body>
    <Center><h1>Welcome to Google Spredsheet Scraping </h1></Center>
    <div>
        <button onclick="StartScraping()">Start Scrapping Of Spredsheet</button>
    </div>
</body>
</html>
<script>
    function StartScraping() {
        window.location.href = "/Default/StartScraping";
    }
</script>
